<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dokimiConfig" type="SimpleConfig.Section, SimpleConfig"/>
  </configSections>
  <dokimiConfig>
    <source includePath="C:\Code\Sandbox\ConsoleApplication1\ConsoleApplication1\bin\Debug" />
    <print level="Minimal" format="Word" />
    <formatters includePath="C:\Code\Sandbox\ConsoleApplication1\ConsoleApplication1\bin\Debug">
      <formatters>
        <formatter type="TestType1" contextName="TestContext1" categoryName="TestCategory1" />
        <formatter type="TestType2" contextName="TestContext2" categoryName="TestCategory2" />
      </formatters>
    </formatters>
  </dokimiConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>